body {
  background: linear-gradient(270deg, #5e548e 0%, #450920 40%);
}

/*  Side bar start */


.menu a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: grey;
  transition: all 0.3s linear;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 50%;
  height: 100%;
  transition: all 0.3s linear;
  transform: translate(-100%);
  z-index: 2;
}

.show-sidebar {
  transform: translate(0);
}

.fa-bars {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-bars:hover {
  color: red;
}

.fa-times {
  font-size: 1.5rem;
  color: #e43535;
  cursor: pointer;
}

.fa-times:hover {
  color: black;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  margin-left: -15px;
}

@media (min-width: 676px) {
  .sidebar {
    width: 500px;
  }
}

.menu a:hover {
  background: #e70404;
  color: white;
  padding-left: 1.7rem;
}

.menu {
  color: red;
}


/* side bar end */





#IMAGE {
  font-family: Arial, sans-serif;
  background-color: rgba(43, 39, 39, 0.25);
  box-shadow: -2px 2px 5px rgba(255, 255, 255, 0.5);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0px ;
  border-radius: 20px;
}

.card {
  background-color: #2c2c2c;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(170, 165, 165, 0.5);
  width: 350px;
  height: 400px;
  padding: 20px;
  text-align: center;
}

.card img {
  max-width: 80%;
  max-height: 50%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.game2d {
  height: 100%;
  width :100%;
}


.card h2 {
  font-size: 24px;
  color: rgb(70, 5, 5);
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #4e4545;
  margin: 10px 0;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.tag1 {
  background-color: #03680c;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}
.tag2 {
  background-color: #868f00;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}
.tag3 {
  background-color: #9c0404;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}

.button {
  display: flex;
  margin-top: 20px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.15s, color 0.25s;
}


#btns {
  display: flex;
  gap:20px;
}

.button:hover {
  background-color: #e0f808;
  color: black;
}




@media (max-width: 600px) {
    IMAGE {
        padding: 10px;
    }

    .card {
        padding: 15px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 12px;
    }

    .tag {
        font-size: 10px;
        padding: 4px 8px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}




header {
  background-color: black;
  text-align: center;
  color: rgba(255, 188, 2, 1);
  height: 100px;
  border-radius: 10px;
  padding: auto;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 188, 2);
}

header>h1 {
  font-family: Verdana;
  font-size: 40px;
  text-shadow: 1px 1px 3px orangered;

}

.contant {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-left: 5%;
  margin-right: 5%;
  gap: 1rem;
}

.card {
  background-color: #c3e8c9;
  border-radius: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
}





/* Image hover end */


.load {
  color: rgba(255, 188, 2);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-top: 30px;
}

.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
  left: 49%;

}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset rgba(255, 188, 2);
  animation: l5 2.5s infinite;
}

.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}

@keyframes l5 {
  0% {
    inset: 0 35px 35px 0
  }

  12.5% {
    inset: 0 35px 0 0
  }

  25% {
    inset: 35px 35px 0 0
  }

  37.5% {
    inset: 35px 0 0 0
  }

  50% {
    inset: 35px 0 0 35px
  }

  62.5% {
    inset: 0 0 0 35px
  }

  75% {
    inset: 0 0 35px 35px
  }

  87.5% {
    inset: 0 0 35px 0
  }

  100% {
    inset: 0 35px 35px 0
  }
}